body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #add8e6;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 100vh; /* Garante que o body ocupe a altura total da viewport */
  flex-direction: column; /* Para manter o fluxo dos itens na coluna, se tiver mais de um */
}
h2 {
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-container {
  width: 90%;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #6a5acd;
  color: white;
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #5a4acb;
}

td {
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
}

.linha-par {
  background-color: #f8f8f8;
}

.linha-impar {
  background-color: #ffffff;
}

tbody tr:hover {  /* mudar cor das linhas quando passar o cursor*/
  background-color: #e6e6fa; 
  cursor: pointer;
}

.footer-text {
  text-align: center;
  color: #777;
  font-size: 0.9em;
  margin-top: 40px;
  padding-bottom: 20px;
}
