h2 {
    justify-content:center;
    display: flex;
}
  .card-container {
  gap: 5px;
  background-color: rgb(155, 184, 165);
  justify-content:center;
  display: flex;
  margin-top: 40px;
   width: 350px;
  height: 350px;
  border-radius: 10px;
}

.item {
  background-color: rgb(115, 221, 150);
  border-radius: 10px;
  width: 170px;
  height: 50px;
}
