h2{
  color: white;
  margin-bottom: 20px; 
}
body {
  height: 100vh; /* altura da janela de visualização*/
  margin: 0;
  display: flex;
  flex-direction: column; /* organiza verticalmente */
  justify-content: center;
  align-items: center;
  font-family:'Inter', sans-serif;
  background-color: rgb(53, 132, 196);
}
.card-container {
  background-color: rgb(127, 173, 233);
  border-radius: 10px;
  width: 640px;
  padding: 15px;
  margin: 0 auto;
  overflow-x: auto; /* adaptar se o conteúdo dentro de um elemento é maior */
}
.card-container table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
.card-container th,
.card-container td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.card-container th {
  background-color: rgb(81, 115, 187);
  color: white;
}

footer {
   position: fixed; /* fixar o footer na tela */
   bottom: 0;
  left: 0;
  background-color: rgb(45, 113, 168);
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  color: #d4baff;
  text-align: center;
}